@font-face {
    font-family: 'Park zoo';
    src: url('../fonts/Parkzoo-Regular.woff2') format('woff2'),
        url('../fonts/Parkzoo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0; /* Lo pasamos a 0 para que no se esconda detrás del body */
}

body, header {
    background-color: transparent !important;
}

.barra-tiempo {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #D9C8A1;
    font-family: 'Park zoo';
    padding: 15px 25px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    align-items: center;
    display: flex;
}

.fuenteZoo{
    font-family: 'Park zoo';
}

/* EXPERIENCIAS */
/* Ocultar barra de scroll para Chrome, Safari y Opera */
.custom-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Ocultar barra de scroll para IE, Edge y Firefox */
.custom-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media screen and (max-width: 900px) {
    .barra-tiempo {
        position: static;
        backdrop-filter: none;
        box-shadow: none;
        background: none;
        display: flex;
        justify-content: flex-start;
        padding: 0;
        font-size: 20px;
    }
}